<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PayKitty-Account</title>

<link rel="stylesheet" href="/A1/stylesheets/common.css"/><!-- 基本样式 -->
<link rel="stylesheet" href="/A1/stylesheets/animate.min.css"/> <!-- 动画效果 -->
<link rel="stylesheet" type="text/css" href="/A1/stylesheets/drop_menu.css" />
<link rel="stylesheet" type="text/css" href="/A1/stylesheets/left_menu.css" />
    <!-- Bootstrap -->
    <link href="http://121.42.175.1/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="http://121.42.175.1/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- jQuery custom content scroller -->
    <link href="http://121.42.175.1/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="http://121.42.175.1/static/css/custom.css" rel="stylesheet">

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>PayKitty</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="http://121.42.175.1/static/images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>您好！</span>
                <h2><%= AccountName %></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />


            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section container">
                <h3>&nbsp</h3>
                <ul class="nav side-menu">
                  <li>
                    <a><i class="fa fa-home"></i> 我的账户 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none;">
                      <li>
                        <a href="/account/info">账户记录</a>
                      </li>
                      <!-- <li>账户记录</li> -->
                      <li>
                        <a href="/account/transaction">交易信息</a>
                      </li>
                      <!-- <li><a href="index3.html">Dashboard3</a>
                      </li> -->
                    </ul>
                  </li>
                  <li><a >
                    <i class="fa fa-edit"></i> 订单管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display:block;">
                          <li>
                              <a href="http://121.42.175.1/orderlist">所有订单</a>
                          </li>
                    </ul>
                  </li>
                  <li><a>
                    <i class="fa fa-desktop"></i> 在线预订 <span class="fa fa-chevron-down"></span></a>
                  </li>
                  <li><a >
                    <i class="fa fa-beer"></i> 出去走走 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li>
                        <a href="/a3/">旅店与飞行器预定</a>
                      </li>
                      <li>
                        <a href="/a3/admin/">管理员</a>
                      </li>
                     </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">

          <div class="nav_menu">
            <nav class="" role="navigation">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="http://121.42.175.1/static/images/img.jpg" alt=""><%= AccountName %>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li>
                      <a href="/account/info"><i class="fa fa-sign-out pull-right"></i> 账户管理</a>
                    </li>
                    <li>
                      <a href="/account/transaction"><i class="fa fa-sign-out pull-right"></i> 交易信息</a>
                    </li>
                    <li>
                      <a href="/logout"><i class="fa fa-sign-out pull-right"></i> 退出登录</a>
                    </li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green"><%= message.length %></span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <% for (var i in message) { %>
                      <li>
                        <a href="<%= message[i].href %>">
                          <span class="image">
                            <img src="http://121.42.175.1/static/images/img.jpg" alt="Profile Image" />
                          </span>
                          <span>
                            <span>来自<%= message[i].sender %>的消息</span>
                          <span class="time"><%= message[i].time %></span>
                          </span>
                          <span class="message">
                            <%= message[i].message %>
                          </span>
                        </a>
                      </li>
                    <% } %>
                    <li>
                      <div class="text-center">
                        <a href="/account/info/message/clear">
                          <strong>确认看过了所有新消息</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="text-center">
                        <a href="/account/message">
                          <strong>查看所有通知</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>

              </ul>
            </nav>
          </div>

        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <!-- <div class="tab-content"> -->
        <form action="" method="post" id="personinfo_form">
          <div class="tab-plane fade in active" id='ZHZL'>
            <div class="right_col" role="main">
            <!-- <div class="tab-plane fade in active" id='ZHZL'> -->
              <div class="page-title">
                <div class="title_left">
                  <h3>账户管理</h3>
                </div>
                <div class="title_right">
                  <h1>&nbsp;</h1>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2>基本信息</h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <!-- <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                          </li> -->
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                          <thead>
                          <tr>
                            <th>用户名</th>
                            <th>真实姓名</th>
                            <th>手机号码</th>
                            <th>邮箱</th>
                            <th>注册时间</th>

                          </tr>
                          </thead>

                          <tbody>
                          <tr>
                            <td><%= AccountName %></td>
                            <td><%= Name %></td>
                            <td>
                              <input name="phone" id="phone" type="text" value=<%= Phone %> readonly="readonly" style="border:none;width:90px;background-color:transparent" >
                              <a id="changephonebutton" onclick="change(this.innerHTML,'changephonebutton','phone')">修改</a>
                            </td>
                            <td><input name="mail" id="mail"type="text" value=<%= Email %> readonly="readonly" style="border:none;;background-color:transparent">

                            </td>
                            <td><%= RegisterDate %></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>


                    <div class="x_panel">
                      <div class="x_title">
                        <h2>安全设置</h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <!-- <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                          </li> -->
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                          <thead>
                          <tr>
                            <th>登录密码</th>
                            <th>支付密码</th>
                          </tr>
                          </thead>

                          <tbody>
                          <tr>
                            <td><input id="loginpasswd" name="loginpasswd" type="password" value=<%= Password %> readonly="readonly" style="border:none;width:100px;background-color:transparent">
                            &nbsp;&nbsp;
                            <a id="changeloginpasswdbutton" onclick="change(this.innerHTML,'changeloginpasswdbutton','loginpasswd')">修改</a></td>
                            <td> <input id="paypasswd" name="paypasswd" type="password" value=<%= PayPassword %> readonly="readonly" style="border:none;width:100px;background-color:transparent">
                            &nbsp;&nbsp;&nbsp;
                            <a id="changepaypasswdbutton" onclick="change(this.innerHTML,'changepaypasswdbutton','paypasswd')">修改</a></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>


                    <div class="x_panel">
                      <div class="x_title">
                        <h2>账户信息</h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                          <thead>
                          <tr>
                            <th>已绑定的银行卡</th>
                          </tr>
                          </thead>
                         </table>

                         <table id = 'card' class="table table-striped table-bordered">
                          <tbody>
                          <tr id="pay1">
                            <td><input id="pay11"type="text" value="<%= Payment1 %>" readonly="readonly" style="border:none;width:100px;background-color:transparent">
                            &nbsp;&nbsp;
                            <a id="addcard1" onclick="change_pid(this.innerHTML,'addcard1','pay11')">删除</a></td>
                          </tr>
                          <tr id="pay2">
                            <td><input id="pay22"type="text" value="<%= Payment2 %>" readonly="readonly" style="border:none;width:100px;background-color:transparent">
                            &nbsp;&nbsp;
                            <a id="addcard2" onclick="change_pid(this.innerHTML,'addcard2','pay22')">删除</a></td>
                           </tr>
                          <tr id="pay3">
                            <td><input id="pay33" type="text" value="<%= Payment3 %>" readonly="readonly" style="border:none;width:100px;background-color:transparent">
                            &nbsp;&nbsp;
                            <a id="addcard3" onclick="change_pid(this.innerHTML,'addcard3','pay33')">删除</a></td>
                          </tr>
                          <tr id="pay4">
                            <td><input id="pay44" type="text" value="<%= Payment4 %>" readonly="readonly" style="border:none;width:100px;background-color:transparent">
                            &nbsp;&nbsp;
                            <a id="addcard4" onclick="change_pid(this.innerHTML,'addcard4','pay44')">删除</a></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>




                    <div class="x_panel">
                      <div class="x_title">
                        <h2>余额信息</h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <!-- <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                          </li> -->
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                          <thead>
                          <tr>
                            <th>账户余额</th>
                          </tr>
                          </thead>

                          <tbody>
                          <tr>
                            <td id="balance"><%= Balance %></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                      <p></p>

                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <button type="button" class="btn btn-primary" href="javascript:;" id="recharge">充值</button>
                          <button type="button" class="btn btn-success" href="javascript:;"  id="transfer">转账</button>
                        </div>
                      </div>
                    </div>



                    <div class="x_panel">
                      <div class="x_title">
                        <h2>其他操作 </h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                          <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <button type="button" class="btn btn-primary" onclick="firm()">注销账户</button>
                            </div>
                          </div>

                        </form>
                      </div>

<form action="" method="post" id="card_form">
              <input type = "text" style= "display:none" name="button_type" value = "0" id="button_type">
              <input type = "text" style= "display:none" name="pid_num" value = "" id="pid_num">
        </form>


                </div>
              </div>
            </div>
          </div>
        </form>

        <!-- </div> -->
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>



    <div id="HBox" class="animated" style="display:none" title="账户充值">
            <form action="" method="post" id="recharge_form">
                <ul class="list">
                    <li>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">银行卡号</span>
                            <input type="text" class="form-control" name="bankaccount"  placeholder="银行卡号" autocomplete="off" />
                        </div>
                    </li>
                    <li>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">银行密码</span>
                            <input type="password" class="form-control" name="bankpasswd"  placeholder="银行密码" autocomplete="off" />
                        </div>
                    </li>
                    <li>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">充值金额</span>
                            <input type="text" class="form-control" name="amount" id="username" placeholder="充值金额" autocomplete="off" />
                        </div>
                    </li>
                    <li>
                        <button type="submit" value="recharge"  name="submitBtn" id="submitBtn" class="btn btn-info" align="center"/>确认提交</button>
                    </li>
                </ul>
            </form>
        </div>
        <div id="ZBox" class="animated" style="display:none" title="账户转账">
            <form action="" method="post" id="transfer_form" onsubmit="return false;">
                <ul class="list">
                    <li>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">银行卡号</span>
                            <input type="text" class="form-control" name="bankaccount" id="" placeholder="银行卡号" autocomplete="off" />
                        </div>
                    </li>
                    <li>
                      <div class="input-group input-group-sm">
                            <span class="input-group-addon">支付密码</span>
                            <input type="password" class="form-control" name="paypasswd" id="" placeholder="支付密码" autocomplete="off" />
                        </div>

                    </li>
                    <li>
                         <div class="input-group input-group-sm">
                            <span class="input-group-addon">转账金额</span>
                            <input type="text" class="form-control" name="amount" id="transamount" placeholder="转账金额" autocomplete="off" />
                        </div>
                    </li>

                    <li>
                    <input type="submit" name="submitBtn" value="确认提交" id="sub" class="btn btn-info" align="center" onclick="checkamount()"/>
                    </li>
                </ul>
            </form>
        </div>

          <div id="VBox" class="animated" style="display:none" title="账户验证">
            <form action="" method="post" id="transfer_form" onsubmit="return false;">
                <ul class="list">
                    <li>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">是否向</span>
                            <span class="input-group-addon" name = 'user_pidname' value = '<%= user_pid %>'><%= user_pid %></span>
                            <span class="input-group-addon" name = 'user_transb' value = '<%= user_balance %>'>转账<%= user_balance %></span>
                        </div>
                    </li>

                    <li>
                    <input type="submit" name="submitBtn3" value="确认" id="sub_admit" class="btn btn-info" align="center" onclick="admit()"/>
                    </li>
                    <li>
                    <input type="submit" name="submitBtn4" value="取消" id="sub_cancel" class="btn btn-info" align="center" onclick="cancel()"/>
                    </li>
                </ul>
            </form>
        </div>
  </body>

    <script src="/A1/javascripts/jquery.min.js"></script>
   <!-- Bootstrap -->
    <script src="http://121.42.175.1/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="http://121.42.175.1/static/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="http://121.42.175.1/static/vendors/nprogress/nprogress.js"></script>
    <!-- jQuery custom content scroller -->
    <script src="http://121.42.175.1/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="http://121.42.175.1/static/js/custom.js"></script>

<script src="/A1/javascripts/jquery.hDialog.js"></script>
<script src="/A1/javascripts/jquery.hDialog.min.js"></script>


<script type="text/javascript">
        function change(button,buttonid,textid){
            var text=document.getElementById(textid);
            //var button=document.getElementById("changephonebutton").value;
            //alert(button);
            if(button=="修改"){
                text.removeAttribute("readOnly");
                document.getElementById(textid).style.border="1px solid gray";
                document.getElementById(buttonid).innerHTML="完成";
            }
            else if(button=="完成"){
                text.setAttribute("readOnly",'true');
                document.getElementById(textid).style.border="none";
                document.getElementById(buttonid).innerHTML="修改";
                var form =  document.getElementById("personinfo_form");
                form.submit();
            }
           // alert("hello");
        }
        function checkamount(){
            var remain = <%= Balance %>;
            var trans = document.getElementById('transamount').value;
            var remain_float = parseFloat(remain);
            var trans_float = parseFloat(trans);
            var form = document.getElementById("transfer_form");

            console.log(trans);
            console.log(remain);console.log(trans_float);
            console.log(remain_float);
            if(trans_float > remain_float){
              alert("金额不足");
            }
            else{
              form.submit();
            }
        }
        function onSearch(obj,obj1,obj2,obj3){
            var storeId = document.getElementById('store');
            var rowsLength = storeId.rows.length;
            var key = obj.value;
            var key1 = obj1.value;
            var times = 0;
            var sum = 0;
            var searchCol = 0;
            var searchCol1 = 3;
            var searchCol2 = 2;

            for(var i=0;i<rowsLength;i++){
                var searchText = storeId.rows[i].cells[searchCol].innerHTML;
                var searchText1 = storeId.rows[i].cells[searchCol1].innerHTML;

                if(searchText.match(key) && searchText1.match(key1)){
                    storeId.rows[i].style.display='';
                    times++;
                    var cost = storeId.rows[i].cells[searchCol2].innerHTML;
                    sum = parseInt(sum) + parseInt(cost);
                }else{
                    storeId.rows[i].style.display='none';
                }
            }
            obj2.value = sum;
            obj3.value = times;
        }



        function showcard(){
          if (!'<%= Payment1 %>'){
              var tr_id = 'pay1';
              document.getElementById('pay11').value = '未绑定';
              document.getElementById('addcard1').innerHTML = '添加';
              //document.getElementById(tr_id).value='未绑定';
          }
          if (!'<%= Payment2 %>'){
              var tr_id = 'pay2';
              document.getElementById('pay22').value = '未绑定';
              document.getElementById('addcard2').innerHTML = '添加';
              //document.getElementById(tr_id).value='未绑定';
          }
          if (!'<%= Payment3 %>'){
              var tr_id = 'pay3';
              document.getElementById('pay33').value = '未绑定';
              document.getElementById('addcard3').innerHTML = '添加';
              //document.getElementById(tr_id).value='未绑定';
          }
          if (!'<%= Payment4 %>'){
              var tr_id = 'pay4';
              document.getElementById('pay44').value = '未绑定';
              document.getElementById('addcard4').innerHTML = '添加';
              //document.getElementById(tr_id).value='未绑定';
          }
        }

        function change_pid(button,buttonid,textid){
            if(buttonid=="addcard1" && button == "删除"){
                document.getElementById("button_type").value="10";
                document.getElementById("pid_num").value="";
            }
            else if(buttonid=="addcard1" && button == "添加"){
                document.getElementById("button_type").value="11";
                document.getElementById("pid_num").value=document.getElementById('pay11').value;
            }
            else if(buttonid=="addcard2" && button == "删除"){
                document.getElementById("button_type").value="20";
                document.getElementById("pid_num").value="";
            }
            else if(buttonid=="addcard2" && button == "添加"){
                document.getElementById("button_type").value="21";
                document.getElementById("pid_num").value=document.getElementById('pay22').value;
            }
            else if(buttonid=="addcard3" && button == "删除"){
                document.getElementById("button_type").value="30";
                document.getElementById("pid_num").value="";
            }
            else if(buttonid=="addcard3" && button == "添加"){
                document.getElementById("button_type").value="31";
                document.getElementById("pid_num").value=document.getElementById('pay33').value;
            }
            else if(buttonid=="addcard4" && button == "删除"){
                document.getElementById("button_type").value="40";
                document.getElementById("pid_num").value="";
            }
            else{
                document.getElementById("button_type").value="41";
                document.getElementById("pid_num").value=document.getElementById('pay44').value;
            }
            var form =  document.getElementById("card_form");
            //var temp = form.getElementById("pay11");

            console.log(form);
            form.submit();
            //alert("hello");
        }




        function firm() {
          console.log("firm()");
          if(confirm("确认注销账户？")){
              location.href="delete";
          }
        }
</script>
<script type="text/javascript">

$(function(){
    var $el = $('.dialog');
    $el.hDialog();
    $('#recharge').hDialog();
    $('.submitBtn').click(function() {
                //$el.hDialog('close',{box:'#HBox'},'http://smwell.sinaapp.com/');  //也可以加跳转链接哦~

                $el.hDialog('close',{box:'#HBox'});
    });
    $('#transfer').hDialog({'box':'#ZBox'});
    $('#sub').click(function() {
                //$el.hDialog('close',{box:'#HBox'},'http://smwell.sinaapp.com/');  //也可以加跳转链接哦~

                $el.hDialog('close',{box:'#ZBox'});
    });
    $('#verification').hDialog({'box':'#VBox'});
    $('#sub').click(function() {
                //$el.hDialog('close',{box:'#HBox'},'http://smwell.sinaapp.com/');  //也可以加跳转链接哦~

                $el.hDialog('close',{box:'#VBox'});
    });

});

window.onload=function()
{
  $('#verification')<%= win_message %>;
  showcard();
}
</script>

</html>
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
