
<!DOCTYPE html>
<html lang='zh-CN'>

    <head>
        <% include bootstrap_base.html %>
    </head>
    <% include guideline.ejs %>

    <body>
        <div class='main-container'>
            <div class="container-fluid">
                <h1><%- HotelInfo[0].Hotel_Name %></h1>
                <div class='row'>
                    <div class='col-md-4 col-xs-12'>
                        <div class="carousel slide" id="carousel">

                            <ol class="carousel-indicators">
                                <li class="active" data-slide-to="0" data-target="#carousel"></li>
                                <% for (var i=1;i<FilePos.length;i++){ %>
                                    <li data-slide-to=<%-'"'+i+'"'%> data-target="#carousel"></li>
                                <%}%>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img alt="" src=<%- '"'+FilePos[0].File_Pos+'"' %> class='img-thumbnail' height=400 width=400/>
                                </div>
                                <% for (var i=1;i<FilePos.length;i++){%>
                                    <div class='item'>
                                        <img alt="" src=<%- '"'+FilePos[i].File_Pos+'"'%> class='img-thumbnail' height=400 width=400/>
                                    </div>
                                <%}%>
                            </div>
                            <a data-slide="prev" href="#carousel" class="left carousel-control">‹</a>
                            <a data-slide="next" href="#carousel" class="right carousel-control">›</a>
                        </div>
                    </div>
                    <div class='col-md-8 col-xs-12'>
                    <li class='list-group-item'>
                        酒店名：
                        <%= HotelInfo[0].Hotel_Name %>
                        <br>
                        <%= HotelInfo[0].City %>--
                        <%= HotelInfo[0].Province  %>
                    </li>
                </div>

            </div>
            <div class='row-fluid'>
                <div class="span6">
                    <ul class="list-group">
                        <li class="list-group-item">
                            价格区间：
                            <%= Price %>
                            <br>
                            联系方式：
                            <%= HotelInfo[0].PhoneNumber %>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <%-'<form class="form" name="BookHotel" method="post" action='+"'"+url+"'>" %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    房间类型
                                </th>
                                <th>
                                    房间价格
                                </th>
                                <th>
                                    预定
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i=0;i<RoomInfo.length;i++){%>
                                <tr class="info">
                                    <td>
                                        <%- RoomInfo[i].Type %>
                                    </td>
                                    <td>
                                        <%- RoomInfo[i]['avg(Price)'] %>
                                    </td>
                                    <td>
                                        <%= (RoomInfo[i]['min(Available)'])?'<input type="text" name="RoomOrder" value=1>':'已满' %>
                                    </td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                    <div class="span7 text-center">
                        <button type="submit" class="btn">预定</button>
                    </div>
                </form>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="list-group">
                            <% for (var i=0;i<Comment.length;i++){ %>
                                <li class="list-group-item"><%- "评分： "+Comment[i].Scores+"<br>"+"评价内容： "+Comment[i].Comments %></li>
                            <%}%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<% include footer.html %>
</body>

</html>
