<!DOCTYPE html>
<form name="serachinfo" method="post" action=<%-"'"+"./updateHotel?Hotel_ID="+HotelInfo[0].Hotel_ID+"'"%> >
<html lang='zh-CN'>

    <head>
        <% include bootstrap_base.html %>
        <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    </head>


    <body class='nav-md'>

        <div class='container body'>
            <div class="main_container">
              <% include guideline.ejs %>
              <div class='right_col' role='main'>
                <div class='container-fluid'>
                <div class='row'>
                <div class='col-md-4'>
                  <input class="form-control" type="text" name="data" value = <%- HotelInfo[0].Hotel_Name %>>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target=<%- "'#Upload_Pics'" %>>添加图片</button>
                </div>
                </div>
                <br>
                <div class='row'>
                    <div class='col-md-4 col-xs-12'>
                        <div class="carousel slide" id="carousel">
                          <%if (typeof FilePos != "undefined"){%>
                            <ol class="carousel-indicators">
                                <li class="active" data-slide-to="0" data-target="#carousel"></li>
                                <% for (var i=1;i<FilePos.length;i++){ %>
                                    <li data-slide-to=<%-'"'+i+'"'%> data-target="#carousel"></li>
                                <%}%>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img alt="" src=<%- '"'+FilePos[0].File_Pos+'"' %> class='img-thumbnail' height=400 width=400/>
                                </div>
                                <% for (var i=1;i<FilePos.length;i++){%>
                                    <div class='item'>
                                        <img alt="" src=<%- '"'+FilePos[i].File_Pos+'"'%> class='img-thumbnail' height=400 width=400/>
                                    </div>
                                <%}%>
                            </div>
                            <a data-slide="prev" href="#carousel" class="left carousel-control">‹</a>
                            <a data-slide="next" href="#carousel" class="right carousel-control">›</a>
                            <%}%>
                        </div>
                    </div>
                    <div class='col-md-8 col-xs-12'>
                    <div class='row'>
                      <div class='col-md-4'>
                        <input class="form-control" type="text" name="City" value = <%- HotelInfo[0].City %>>
                      </div>
                      <div class='col-md-4'>
                        <input class="form-control" type="text" name="Province" value =   <%- HotelInfo[0].Province  %>>
                      </div>
                    </div>
                    <br>
                    <div class='row'>
                      <div class='col-md-12'>
                        <textarea class="form-control" rows="6" name="Description"><%- HotelInfo[0].Description %></textarea>
                      </div>
                    </div>
                    <br>
                    <div class='row'>
                      <div class='col-md-4'>
                        <input class="form-control" type="text" name="PhoneNumber" value = <%- HotelInfo[0].PhoneNumber %> >
                      </div>
                    </div>
                </div>

            </div>
            <br>
            <div class='row-fluid'>
                <div class='row'>
                  <div class='col-md-2 col-md-offset-10'>
                    <input type='submit' class='btn btn-success btn-block' value='提交修改'/>
                  </div>
                </div>
                <br>
            </div>

            <div class="row-fluid">
                <div class="span12">

                    <table class="table" >
                        <thead>
                            <tr>

                                <th >
                                    房间类型
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                  <button type="button" color='red' class="btn btn-success btn-block" data-toggle="modal" data-target=<%- "'#Add_Room'" %>>
                                    Add
                                  </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <% if (typeof RoomInfo != "undefined"){for (var i=0;i<RoomInfo.length;i++){%>
                                <tr class="info">

                                    <td style="width: 74%;">
                                      <div style="font-size:15px;">
                                          <%- RoomInfo[i].Type %>
                                      </div>
                                    </td>
                                    <td style="width: 10%;">
                                        <button type="button" color='red' class="btn btn-danger" data-toggle="modal" data-target=<%- "'#Upload_Pics'" %>>
                                            Add_image
                                        </button>
                                    </td>
                                    <td style="width: 8%;">
                                        <button type="button" color='red' class="btn btn-danger" data-toggle="modal" data-target=<%- "'#"+ "Modify_Room"+i+ "'"%>>
                                            Modify
                                        </button>
                                    </td>
                                    <td style="width: 8%;">
                                        <button type="button" color='red' class="btn btn-danger" >
                                            Delete
                                        </button>
                                    </td>

                                </tr>
                            <%}}%>
                        </tbody>
                    </table>
                </div>
            </div>

          </div>
          </div>
            <% include footer.html %>
        </div>
    </div>
<% include Add_Room %>
<% include Upload_Pics %>
<% include Modify_Room %>
</body>
</form>
</html>
