<!DOCTYPE html>
<html lang='zh-CN'>

    <head>
        <% include bootstrap_base.html %>
    </head>

    <body class='nav-md'>
        <div class='container body'>
            <div class="main_container">
                <% include guideline.ejs %>
                <div class='right_col' role='main'>
                    <br><br><br>
                    <div class='container text-center'>
                        <div class="panel panel_primary">
                            <div class='panel panel-heading'>
                                <h1 class="panel-title" style='font-size:35px;color:#CC6666;'>订单确认</h1>
                            </div>
                            <% if (OrderType=='Hotel'){%>
                            <div class='panel panel-body'>
                              <div class='row'>
                                <div class='col-md-8'>
                                  <div class='span12'><h3>酒店名：  <%- HotelName %></h3></div><br>
                                  <div class='span12'><h4>入住人:  <%- CheckInName %></h4></div><br>
                                  <div class='span12' style='font-size:15px;'>房间类型：  <%- RoomType %></div><br>
                                  <div class='span12' style='font-size:16px'>入住:  <%- CheckInDate %></div><br>
                                  <div class='span12'>至</div><br>
                                  <div class='span12' style='font-size:16px'>离店:  <%- CheckOutDate %></div>
                                </div>
                                <div class='col-md-4'>
                                  <div class='span12'><img src=<%- "'"+RoomImg+"'" %> class='thumbnail' ></div>
                                </div>
                              </div><br>
                              <div class='span12'>
                                <div class='span12' style='font-size:36px;color:red;'>订单总额：<%- TotalPrice %></div>
                              </div>
                          </div>
                          <%} else if (OrderType=='Ticket'){%>
                            <div class='panel panel-body'>
                              <div class='row'>
                                <div class='col-md-8'>
                                  <div class='span12'><h3>出发地  <%- Departure %></h3></div><br>
                                  <div class='span12'><h3>目的地  <%- Destination %></h3></div><br>
                                  <div class='span12' style='font-size:15px;'>登机人:  <%- ID %></div><br>
                                  <div class='span12' style='font-size:16px'>出发日期:  <%- Depart_time %></div><br>
                                </div>
                                <div class='col-md-4'>
                                  <div class='span12'><img src=<%- "'"+RoomImg+"'" %> class='thumbnail' ></div>
                                </div>

                              </div><br>
                              <div class='span12'>
                                <div class='span12' style='font-size:36px;color:red;'>订单总额：<%- TotalPrice %></div>
                              </div>
                          </div>
                            <%}%>
                          <div class='span12'>
                              <a type="button" class="btn btn-primary" href='./confirmorder'>确认提交</a>
                          </div>
                        </div>
                    </div>

                </div>
                <%include footerContent.html %>

                <% include footer.html %>
            </div>
        </div>

    </body>
</html>
