<html>

    <head>
        <% include bootstrap_base.html %>
          <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    </head>

    <body class='nav-md'>
      <div class='container body'>
        <div class='main_container'>
        <% include guideline.ejs %>
        <div class='right_col' role='main'>
            <div class='container-fluid'>
              <div class="tabbable" id="tabs-273106">
                  <ul class="nav nav-tabs">
                      <li class="active">
                          <a href="#panel-419013" data-toggle="tab">酒店</a>
                      </li>
                      <li>
                          <a href="#panel-75657" data-toggle="tab">机票</a>
                      </li>
                  </ul>
                  <div class="tab-content">
                      <div class="tab-pane" id="panel-419013">
                          <p>
                              <% include SearchHotel %>
                          </p>
                      </div>
                      <div class="tab-pane active" id="panel-75657">
                          <p>
                              <% include SearchTickets.ejs %>
                          </p>
                      </div>
                  </div>
              </div>
              <div class='container-fluid'>
              <div class='row text-center'>
                 <h1><div class='col-md-4' font-color="gray">出发地</div>
                 <div class='col-md-4' font-color="gray">目的地</div>
                 <div class='col-md-4' font-color="gray">价格</div></h1>
              </div>
            </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <% for (var i=0;i<data.length;i++){%>
                        <br>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id=<%-"heading"+i %> >
                                <h4 class="panel-title">
                                  <a role="button" data-toggle="collapse" data-parent="#accordion" href=<%-"'"+'#collapse'+data[i].AirTicket_ID+"'" %> aria-expanded="true" aria-controls=<%-"'"+'collapse'+data[i].AirTicket_ID+"'" %>>
                                    <div class='row text-center'>
                                        <div class='col-md-4' font-size=17><h3><%- data[i].Departure%></h3><br>
                                        <%- data[i].Airport %></div>
                                        <div class='col-md-4' font-size=17><h3><%- data[i].Destination %></h3></div>
                                        <div class='col-md-4' font-size=17><h3><%- data[i].Price %>RMB</h3></div>
                                    </div></a>
                                </h4>
                            </div>
                            <div id=<%-"'"+'collapse'+data[i].AirTicket_ID+"'" %> class="panel-collapse collapse in" role="tabpanel" aria-labelledby=<%-"'"+"heading"+i+"'" %>>
                                <div class="panel-body">
                                    <form method="post" action=<%- "'./bookAirticket?AirTicket_ID="+data[i].AirTicket_ID+"'" %> >
                                        <div class="form-group">
                                            <label>登机人姓名</label>
                                            <input type="text" class="form-control" id="CheckInText" placeholder="请输入登机人中文名" name='CheckInName'>
                                        </div>
                                        <div class="form-group">
                                            <label>联系方式</label>
                                            <input type="text" class="form-control" id="Contacts" placeholder="手机号码" name='Contacts'>
                                        </div>
                                        <div class="form-group">
                                            <label>身份证号</label>
                                            <input type="text" class="form-control" id="ID" placeholder="身份证号" name='ID'>
                                        </div>
                                        <div class="span4 text-center">
                                            <div class="form-group">
                                                <label for=<%-"'"+"dtp_input"+i+"'"%> class="col-md-2 control-label">出发日期</label>
                                                <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    <input class="form-control" size="16" type="text" value="" readonly>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </span>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                <input type="hidden" id=<%-"'"+"dtp_input"+i+"'"%> value="" name='Depart_time'/><br/>
                                            </div>
                                        </div>
                                        <div class=' span7 text-center'><button type='submit' class='btn'>确认预定</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--<a class='list-group-item' href=<%- "'./SearchTicketsResults?AirTicket_ID="+data[i].AirTicket_ID+"'" %>></a>
                        -->
                    <%}%>

                </div>
            </div>
          </div>
          <% include footer.html %>
        </div>
      </div>

            <script type="text/javascript" src="../js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
            <script type="text/javascript" src="../js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
            <script type="text/javascript">

                $('.form_date').datetimepicker({
                    language: 'zh-CN',
                    weekStart: 1,
                    todayBtn: 1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    minView: 2,
                    forceParse: 0
                });
            </script>
        </body>
