<html>

    <head>
        <% include bootstrap_base.html %>
    </head>
    <% include guideline.ejs %>
    <body>
        <div class='main-container'>
            <div class='container-fluid'>
                <ul class='list-group'>

                    <% for (var i=0;i<data.length;i++){%>
                      <br>
                      <a class='list-group-item' href=<%- "'./SearchTicketsResults?AirTicket_ID="+data[i].AirTicket_ID+"'" %> >
                        <%- data[i].Departure%><br>
                        <%- data[i].Airport %><br>
                        <%- data[i].Destination %><br>
                        <%- data[i].Price %>
                    </a>
                      <%}%>
                </ul>

            </div>
        </div>
        <% include footer.html %>
    </body>
