<html>

    <head>
        <% include bootstrap_base.html %>
          <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    </head>

    <body class='nav-md'>
      <div class='container body'>
        <div class='main_container'>
        <% include guideline.ejs %>
        <div class='right_col' role='main'>
            <div class='container-fluid'>
              <div class="tabbable" id="tabs-273106">
                  <ul class="nav nav-tabs">
                      <li>
                          <a href="#panel-419013" data-toggle="tab">酒店</a>
                      </li>
                      <li class="active">
                          <a href="#panel-75657" data-toggle="tab">机票</a>
                      </li>
                  </ul>
                  <div class="tab-content">
                      <div class="tab-pane" id="panel-419013">
                          <p>
                              <% include AdminSearchHotel %>
                          </p>
                      </div>
                      <div class="tab-pane active" id="panel-75657">
                          <p>
                              <% include AdminSearchTickets.ejs %>
                          </p>
                      </div>
                  </div>
              </div>
              <div class='container-fluid'>

                <div class='row'><div class='col-md-offset-10 col-md-2'>
                  <button type="add" class="btn btn-success btn-block" data-toggle="modal" data-target=<%- "'#Add_Ticket'" %>>添加</button>
                </div></div>
              <div class='row text-center'>

                <h3>
                    <div class='col-md-2' font-color="gray">航班信息</div>
                    <div class='col-md-2' font-color="gray">出发地</div>
                    <div class='col-md-2' font-color="gray">经停</div>
                    <div class='col-md-2' font-color="gray">目的地</div>
                    <div class='col-md-2' font-color="gray">优惠</div>
                    <div class='col-md-2' font-color="gray">价格</div>
                </h3>

              </div>
            </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <% for (var i=0;i<data.length;i++){%>
                        <br>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id=<%-"heading"+i %> >
                                <h4 class="panel-title">
                                  <a role="button" data-toggle="collapse" data-parent="#accordion" href=<%-"'"+'#collapse'+data[i].AirTicket_ID+"'" %> aria-expanded="true" aria-controls=<%-"'"+'collapse'+data[i].AirTicket_ID+"'" %>>
                                    <div class='row text-center'>
                                      <div class='col-md-2'><br><br>
                                          <%- data[i].Flight_Company+"--"+data[i].Flight_No %>
                                          <br>
                                      </div>
                                      <div class='col-md-2'>
                                          <h3><%- data[i].Departure%></h3>
                                          <% var a=""+data[i].Depart_time %>
                                          <%-  a.substring(16,21)  %>
                                          <br>
                                          <br>
                                      </div>
                                      <div class='col-md-2' font-size=17>
                                          <h3>
                                              <%- data[i].Stopover %></h3>
                                          <% var a=""+data[i].Stopover_time %>
                                          <%-  a.substring(16,21)  %>
                                      </div>
                                      <div class='col-md-2' font-size=17>
                                          <h3>
                                              <%- data[i].Destination %></h3>
                                          <% var a=""+data[i].Arrive_time %>
                                          <%-  a.substring(16,21)  %>
                                      </div>

                                      <div class='col-md-2' style="color='red';"><br>
                                          <%- (data[i].Discount==1)?"":10*data[i].Discount+"折" %>
                                          <br>
                                      </div>

                                      <div class='col-md-2' font-size=17>
                                          <h3>
                                              <%- data[i].Price %>元</h3><br>

                                      </div>
                                      </div>





                                      <div class='row' >
                                        <br>
                                        <div class = 'row'>
                                            <div class='col-md-offset-11 col-md-1'>
                                              <a href=<%-"'deleteAirTicket?AirTicket_ID="+data[i].AirTicket_ID+"'"%><button type="delete" class="btn btn-danger" >delete</button></a>
                                            </div>
                                        </div>
                                    </div>
                                  </a>
                                </h4>
                            </div>

                        </div>
                        <!--<a class='list-group-item' href=<%- "'./SearchTicketsResults?AirTicket_ID="+data[i].AirTicket_ID+"'" %>></a>
                        -->
                    <%}%>

                </div>
            </div>
          </div>
          <% include footer.html %>
          <% include Add_Tickets %>
        </div>
      </div>


        </body>
